.container {
    display: right;
    justify-content: right;
    align-items: right;
    position: absolute;
    top: .5%;
    left: 50%;
    transform: translate(-50%, -37%);
  }
  
  img {
    margin-right: auto;
    display: block;
    margin: 0 auto;
    
  }
  .smaller {
    width: 550px;
    height: 550px;
  }
  .link {
    display: flex;
    flex-direction: column;
    flex:wrap;
    color: black;
    text-decoration: none;
}
.container {
    padding-bottom: 56.25%; /* aspect ratio of 16:9 */
  }
  
  img {
  opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  img:hover {
    opacity: 1;
  }

  .container {
    text-align: center;
    position: relative;
  }

  .story {
    display: right;
    justify-content: right;
    align-items: right;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-42%, -47%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 20px;
            color: black;
            text-decoration: none;
            border: 1px solid black; padding: 10px;
           
           
          
  }
